/**
 * Global
 */
body {
    background: #f7f7f7;
}

/**
 * Interface elements
 */
p.alert {
    padding: 10px;
    font-weight: bold;
}

.window {
    overflow: auto;
}
    .window.window--thumbnail {
        width: 100%;
        height: 260px;
    }

.img-stretch {
    width: 100%;
}
